{"configSettings":[{"appID":"SharedServerToken","serverToken":"Q5NGF3IBGIPZNTJF6PUN4KDH7J2PF2ES"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"1270857061853909","serverToken":"Q5NGF3IBGIPZNTJF6PUN4KDH7J2PF2ES"},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""},{"appID":"1666391971236046","serverToken":"4L2VQTWM7R236LZJ5JWRDHUHDF37BRIY"}]}